html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;

  word-spacing: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #555252;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*          HEADER           */
.page_header {
  padding: 34px 0 94px 0;
}

.page_header__logo {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  float: left;
}

.page_header__logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.page_header_nav {
  float: right;
}
.page_header_nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page_header_nav_list a {
  display: block;
  text-decoration: none;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0101;
}
.page_header_nav_list a:hover,
.page_header_nav_list a:focus {
  color: #1abc9c;
}
.page_header_nav_item {
  float: left;
  margin-right: 34px;
}
.page_header_nav_item:last-of-type {
  margin-right: 0px;
}

/*          MAIN             */
.page_main__title {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 92px;
}

.page_main__title::after {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  content: "";
  width: 164px;
  height: 7px;
  background-color: rgb(26, 188, 156);
}

/*          MAIN GALLERY             */
.page_main__gallery {
  padding-bottom: 114px;
}

.page_main__gallery_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page_main__gallery_item {
  width: 255px;
  float: left;
  background-color: #e9f0fd;
  margin: 0 30px 30px 0;
}

.page_main__gallery_item>a:hover .page_main__gallery_item_footer {
  background-color: #1abc9c;
}

.page_main__gallery_item>a:focus .page_main__gallery_item_footer {
  background-color: #1abc9c;
}

.page_main__gallery_item:nth-of-type(4n) {
  margin-right: 0;
}

.page_main__gallery_item:nth-of-type(n + 5) {
  margin-bottom: 0;
}

.page_main__gallery_item img {
  display: block;
}

.page_main__gallery_item_footer {
  width: 255px;
  background-color: #323232;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-wrap: 900px;
  color: #fff;
  text-transform: uppercase;
}

.page_main__gallery_item_name {
  margin: 0;
  padding-left: 14px;
  width: 200px;
  float: left;
}
.page_main__gallery_item_price {
  margin: 0;
  width: 55px;
  float: right;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.44);
}

/*          MAIN BLOG         */
.page_main__blog {
  padding-bottom: 80px;
}

.page_main__blog_item img {
  display: block;
}

.page_main__blog_item {
  width: 350px;
  float: left;
}

.page_main__blog_item:not(:last-of-type) {
  margin-right: 30px;
}

.page_main__blog_title {
  margin: 0;
  font-weight: 600;
}

.page_main__blog_title::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  margin-top: 10px;
  margin-bottom: 24px;
}

.page_main__blog_about {
  min-height: ;
    margin: 0 0 12px 0;
}

.page_main__blog_button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding: 15px 40px;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
  background-color: #4ec6ab;
  cursor: pointer;
}
